{% extends 'base.html.twig' %}

{# todo: move custom templates to extrenal files #}
{% form_theme form _self %}

{% block contact_widget %}
    <div class="form-row">
        <div class="col-md-3">
            {{ form_widget(form.headline) }}
        </div>
        <div class="col-md-3">
            {{ form_widget(form.phone) }}
        </div>
        <div class="col-md-3">
            {{ form_widget(form.email) }}
        </div>
        <div class="col-md-3">
            <button type="button" class="btn btn-danger del-entry" disabled>Delete entry</button>
        </div>
    </div>
{% endblock %}

{% block address_widget %}
    <div class="row">
        <div class="col-10">
            {{ form_row(form.location) }}
            <div class="form-row">
                <div class="col-md-4">
                    {{ form_label(form.addressStreet) }}
                    {{ form_widget(form.addressStreet) }}
                </div>
                <div class="col-md-4">
                    {{ form_label(form.addressNumber) }}
                    {{ form_widget(form.addressNumber) }}
                </div>
                <div class="col-md-4">
                    {{ form_label(form.zipCode) }}
                    {{ form_widget(form.zipCode) }}
                </div>
            </div>
        </div>
        <div class="col-2">
            <button type="button" class="btn btn-danger del-entry" disabled>Delete entry</button>
        </div>
    </div>
    <hr>
{% endblock %}

{% block body %}
    {{ form_start(form) }}

    <div class="card">
        <div class="card-body">
            <h2>Contact</h2>
            {{ include('forms/person.info.html.twig') }}
            {{ include('forms/person.addresses.html.twig') }}
            {{ include('forms/person.contacts.html.twig') }}
        </div>
    </div>
    <br>

    <button type="submit" class="btn btn-primary">Submit</button>
    <button id="btn-cancel" type="button" class="btn btn-secondary">Cancel</button>

    {% do form.contacts.setRendered %}
    {% do form.addresses.setRendered %}

    {{ form_end(form) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('js/form.entries-collection.js') }}"></script>

    <script>
        $(document).ready(function () {
            $("#btn-cancel").click(function () {
                window.open("{{ path('persons.list') }}", "_self");
            })
        })
    </script>
{% endblock %}