{% extends 'base.html.twig' %}

{% block body %}
    <div class="row m-2">
        <div class="col-md-9">
            <a class="btn btn-sm btn-secondary mb-3" data-toggle="collapse" href="#collapseExample" role="button"
               aria-expanded="false" aria-controls="collapseExample">
                Show/hide search filter
            </a>
            <div class="collapse" id="collapseExample">
                <div class="card card-body">

                    <form class="form-inline" method="get" action="/persons?page=1"
                          enctype="application/x-www-form-urlencoded">

                        <select id="filterField" name="filterField" class="form-control form-inline mr-2">
                            <option value="p.firstName">First name</option>
                            <option value="p.lastName">Last name</option>
                        </select>

                        <input class="form-control mr-2" type="text" value="" name="filterValue">

                        <button type="submit" class="btn btn-sm btn-primary">Filter</button>

                    </form>

                    <br>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <a href="{{ path('person.new') }}" type="button" class="btn btn-sm btn-success float-right">Add new
                person</a>
        </div>
    </div>

    <div class="row">
        <div class="col">
            {% if pagination | length > 0 %}

                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">First name</th>
                        <th scope="col">Last name</th>
                        <th scope="col"></th>
                    </tr>
                    </thead>
                    {% for person in pagination %}
                        <tr {% if loop.index is odd %}class="color"{% endif %}>
                            <td>{{ person.id }}</td>
                            <td><a href="{{ path('person.show', {'id': person.id}) }}">{{ person.firstName }}</a></td>
                            <td><a href="{{ path('person.show', {'id': person.id}) }}">{{ person.lastName }}</a></td>
                            <td><a href="{{ path('person.edit', {'id': person.id}) }}">edit</a></td>
                        </tr>
                    {% endfor %}
                </table>
                <div class="navigation">
                    {{ knp_pagination_render(pagination, null, {}, {
                        'position': 'left',
                        'size': 'normal',
                        'rounded': true,
                    }) }}
                </div>
            {% else %}
                <p>No items found.</p>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        $(document).ready(function () {
            $('select[name=filterField]').addClass('form-control');
        })
    </script>
{% endblock %}