{% extends 'base.html.twig' %}

{% form_theme form _self %}

{% use 'widgets/contact_widget.html.twig' %}
{% use 'widgets/address_widget.html.twig' %}

{% block body %}
    {{ form_start(form) }}

    <div class="card">
        <div class="card-body">

            <div class="row">
                <div class="col-12">
                    <h2 class="float-left">Contact</h2>
                    {% if person.id is not null %}
                        <button id="btn-delete" type="button" class="btn btn-danger btn-sm float-right">Delete this
                            contact
                        </button>
                    {% endif %}
                </div>
            </div>

            {{ include('forms/person.info.html.twig') }}

            {{ form_row(form.image) }}
            {% if person.image is not empty %}
            <img src="{{ asset('uploadsPath ~ '/' ~ person.image) }}" height="100" class="img rounded mb-3">
            {% else %}
                No photo.
            {% endif %}

            {{ include('forms/person.addresses.html.twig') }}
            {{ include('forms/person.contacts.html.twig') }}
        </div>
    </div>
    <br>

    <button type="submit" class="btn btn-primary">Submit</button>
    <button id="btn-cancel" type="button" class="btn btn-secondary">Cancel</button>

    {% do form.contacts.setRendered %}
    {% do form.addresses.setRendered %}

    {{ form_end(form) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('js/form.entries-collection.js') }}"></script>

    <script>
        $(document).ready(function () {

            {% if person.id is not null %}
            $("#btn-delete").click(function () {
                $("h5.modal-title").text('Confirmation');
                $("p#modal-text").text('Do you really want to delete this contact?');
                $("button#button-ok").text('Yes, delete').prop("onclick", null).off("click");
                $("button#button-ok").click(function () {
                    window.open("{{ path('person.delete', {'id': person.id }) }}", "_self");
                });
                $("#modal-dialog").modal("show");
            });
            {% endif %}

            $("#btn-cancel").click(function () {
                window.open("{{ path('persons.list') }}", "_self");
            })
        })
    </script>
{% endblock %}